*, *:before, *after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-size: 16px;
	font-family: 'Baloo Da 2', Arial, Helvetica, sans-serif;
	font-style: normal;
	background: #F2F2F2;
	width: 100%;
	height: 100vh;
}

.logo-container {
	width: 100%;
	max-height: 10%;
	min-height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
}

.logo-container .fa-clock-o {
	font-size: 48px;
	color: #ffffff;
	margin-right: 10px;
}

.logo-container span {
	font-size: 48px;
	color: #ffffff;
	text-transform: capitalize;
}

.wrapper {
	padding-top: 60px;
}

.row {
    width: 940px;
    max-width: 100%;
    min-width: 768px;
	margin: 0 auto;
}

.status-wrapper {
	display: flex;
	justify-content: center;
}

.status {
	color: #333;
	font-size:40px;
	font-family: 'Baloo Da 2', Arial, Helvetica, sans-serif;
	font-style: normal;
}


.time-title {
	margin: 0 0 20px;
	font-style: normal;
	font-weight: 500;
	font-size: 56px;
	line-height: 66px;
	color: #333;
	text-align: center;
}

.time-view {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 53%;
	height: 180px;
	margin: 0 auto;
	text-align: center;

	color:  #333;
	font-size: 140px;
	font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}

.task input {
	padding: 15px 10px;
	width: 52%;
	display: block;
	margin: 40px auto;
	border-radius: 5px;
	background: #ffffff;
	border: 1px solid #333;
}

.buttons {
	display: flex;
	justify-content: space-around;
	margin: 25	px 0;
}

.button{
	color: #F2F2F2;
	cursor: pointer;
	padding: 15px 30px;
	width: 100px;
	text-decoration: none;
	text-align: center;
	margin: 20px auto;
	display: block;
	background-color: #333;
	border: 1px solid #333;
	border-radius: 5px;
	outline: none;
	border: none;

}

button.disabled {
	cursor: not-allowed;
	pointer-events: none;
	background-color: rgba(51,51,51,0.7);
}

.button:hover {
	color: #333;
	background-color: #F2F2F2;
	box-shadow: 0px 5px 20px 1px rgba(51,51,51,0.4);
	transition: 0.1s;
}

.set-time {
	display: flex;
	justify-content: space-between;
	width: 53%;
	margin: 0 auto;
}

.time-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.time-item label {
	color:  #333;
	margin-bottom: 15px;
	font-size: 20px;
	margin: 10px auto;
}

.time-item input {
	padding: 15px 10px;
	display: block;
	margin: 10px auto;
	text-align: center;
	width: 20%;
	display: block;
	background: #F2F2F2;
	outline: none;
	border: none;
	border-bottom: 2px solid #9b9b9b;
}

.time-item input.disabled {
	cursor: not-allowed;
	pointer-events: none;
	color: rgba(51,51,51,0.7);
}

.time-item input:focus {
	border-bottom: 2px solid #333;
	transition: 0.3s ease-in-out;
}

.row:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form__group {
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
	width: 50%;
	margin: 0 auto;
}
.form__field {
	width: 100%;
	border: 0;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 1.3rem;
	color: #333;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}
.form__field::placeholder {
	color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
	font-size: 1.3rem;
	cursor: text;
	top: 20px;
}
.form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #9b9b9b;
	z-index: -1;
}
.form__field:focus {
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, #11998e, #333);
	border-image-slice: 1;
}
.form__field:focus ~ .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #333;
	font-weight: 700;
}

.form__field:required, .form__field:invalid {
	box-shadow: none;
}

#info-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

#sessions-list {
	list-style-type: none;
}

#info-wrapper i {
	margin-right: 5px;
}